h1 {
  font-family: helvetica, arial, sans-serif;
  text-align: center;
  color: red;
}

body {
  width: 1433px;
  margin: 5px auto;
  background-color: black;

}

.full-img {
  position: relative;
  display: block;
  width: 1433px;
  height: 977px;
}
.displayed-img{
  width: 1433px;
  height: 977px;
}
img {
  width: 716.5px;
  height: 488.5px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1433px;
  height: 977px;
  background-color: rgba(0,0,0,0);
  opacity: 0;
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

#thumb-bar img {
  display: block;
  width: 24.5%;
  height: 24.5%;
  margin-left: 4px;
  margin-right: 3px;
  float: left;
  cursor: pointer;
}
#thumb-bar{
  width: 1433px;
  margin-top: 1em;
}
.video-container{
  width: 100vw;
  height: 100vh;
}
    
iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

#texas{
  position: absolute;
  color: #FFFFFF;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}